body{
    margin: 0;
    padding: 0;
    background-color: black;
}
#tetris {
    color: white;
    text-align: center;
}
#root{
    text-align: center;
    font-family: 'Press Start 2P';
}
#root canvas{
    display: block;
    margin: 0 auto;
}